.light-color-5{
    background-color: #82a6b9;
}
.light-color-4{
    background-color: #c7dbe2;
}
.invoice{
    display: contents;
}
.light{
    background-color: rgba(59,130,246,0.5);;
}
.dark-blue-2{
    background-color: #0b4463;
}
.max{
    max-width:684px
}
.light-color-3 {
    background-color: #d7e7eb;
}