/* Add styles for the ItemModal component */

.item-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .item-modal.open {
    display: block;
  }
  .light-color-2{
    background-color: #d9f0f1;
  }
  .dark-blue{
    background-color: #0c4d71;
  }
  