.dashboardbg{
    background-color: #0c4d71;
}
.margin{
    margin-left: 245px;

}
.margin2{
    margin-left: 235px;
    background-color: rgb(12, 77, 113);
    /* width: 123px; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgcolor1{
    background-color: #ebf6f7;
}
.dark-green{
    background-color: #059ca4;
}
.chart{
    margin-left: 187px
}